#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 4px;
}
.form-item {
  display: block;
}

#warning {
  font-size: 12px;
  font-style: italic;
}
